

/* Table of Content
==================================================
	1.0  -  Custom Class
	2.0  -  Browser Fix
	3.0  -  DT Responsive*/

	/*--------------------------------------------------------------
	1.0 - Custom Class
	--------------------------------------------------------------*/
	
	.title_uppercase { text-transform:uppercase; }
	.title_bold { font-weight:bold; }
	
	/* http://prntscr.com/dydrzx = Reseller Hosting page */
	.extend-bg-fullwidth-left:after { content:""; position:absolute; top:0px; right:100%; height:100%; width: 100%; display:inline !important; }
	.extend-bg-fullwidth-right:after { content:""; position:absolute; top:0px; left:100%; height:100%; width: 100%; display:inline !important; }
	
	.extend-bg-fullwidth-left:after, .extend-bg-fullwidth-right:after { background:#f5f5f5; }
	
	.vc_custom_heading.sub-heading { font-weight: 300; }
	.dt-sc-small-separator.white { background-color: #FFF; }
	
	/*----*****---- << Vc Column custom class >> --****--*/
	.rs_no-padding_column.wpb_column, .vc_col-md-12.wpb_column.rs_no-padding_column { margin-top: -1px; padding-bottom: 0; margin-bottom:0; } /* http://prntscr.com/dydqdv */
	
	.light-overlay:before { background:rgba(255, 255, 255, 0.8); } /* http://prntscr.com/dydsrd  = Model Home page contact section */
	.dark-overlay:before { background:rgba(0, 0, 0, 0.8);  }
	
	/*----*****---- << Video custom class >> --****--*/
	
	.video-parallax a.video-image span { background: #ffffff; }

	/*----*****---- << Gray Scale >> --****--*/ /* http://prntscr.com/dydr06 = Hotel Our Firm Page */
	.gray-scale:hover, .gray-scale:hover img { -webkit-filter: grayscale(1); -moz-filter: grayscale(1); -ms-filter: grayscale(1); -o-filter: grayscale(1); filter: grayscale(1); -webkit-transition-property: -webkit-filter; -moz-transition-property: -moz-filter; -ms-transition-property: -ms-filter; -o-transition-property: -o-filter; transition-property: filter; -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -ms-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; }
	
	/*----*****---- << Footer-custom class >> --****--*/
	
	.footer-widgets .custom-padding-right { padding-right: 100px; }
	.footer-widgets .custom-padding-left { padding-left: 100px; }
	
	@media only screen and (min-width:992px) and (max-width:1199px) {

	.footer-widgets .custom-padding-right { padding-right: 50px; }
	.footer-widgets .custom-padding-left { padding-left: 50px; }		

	}
	
	@media only screen and (min-width:768px) and (max-width:991px) {
		
	.footer-widgets .custom-padding-right { padding-right: 20px; }
	.footer-widgets .custom-padding-left { padding-left: 20px; }
	
	}
	
	@media only screen and (max-width:767px) {

	.footer-widgets .custom-padding-right { padding-right: 0px; }
	.footer-widgets .custom-padding-left { padding-left: 0px; }
		
	}
	
	/*----*****---- << Franshise Page >> --****--*/

	ul.dt-sc-fancy-list.float-right.arrow { float: right; }
	
	.wpb_text_column.float-left { float: left; width: 50%; }
	
	.vcr_shape-left:after { position: absolute; left: -70%; background: #000;top: 0; width: 100%; height: 100%; display: block; content: ""; z-index: -9; }
	.vcr_shape-left { z-index: 9; }
	
	.vcr_shape:before { position: absolute; content: ""; width: 0; height: 0; border-top: 85px solid transparent; border-bottom: 85px solid transparent; border-left: 45px solid #000; right:12%; top: -40%; }
	
	.dt-sc-image-caption.type4.with-bg { text-align: center; background: #fff; }
	
	.dt-sc-image-caption.type4.with-bg .dt-sc-image-content { border: none; }
	
	.dt-sc-image-caption.type4.with-bg .dt-sc-image-content { padding-bottom: 0; }
	
	.dt-sc-image-caption.type4.with-bg .dt-sc-button { position: relative; left: 0; margin-top: 30px; }
	
	.slick-next i, .slick-prev i { padding: 20px 5px; background: rgba(0, 0, 0, .3); color: #fff; }
	
	.slick-prev { left: -25px; }
	
	.franchise-section ul.dt-sc-fancy-list li { border-bottom: 1px solid #d1d1d1; }
	
	.franchise-section ul.dt-sc-fancy-list li:last-child { border-bottom: none; }
	
	.franchise-section .dt-sc-fancy-list { border: 1px solid #d1d1d1; padding: 10px 25px; }
	
	.dt-sc-dark-bg .dt-sc-icon-box.type5.no-icon .icon-content a:hover { color: #ffffff; }
	
	@media only screen and (min-width:1200px) and (max-width:1280px) {
	
	.vcr_shape::before { content: none; }
	.vcr_shape-left::after { left:0;}		
		
	}
	
	
	@media only screen and (min-width:992px) and (max-width:1199px) {
	
	.dt-sc-caption-carousel .dt-sc-image-caption.type4.with-bg .dt-sc-button { font-size: 13px; padding: 13px 9px 11px; }
	.vcr_shape::before { content: none; }
	.vcr_shape-left::after { left:0;}
			
	}
	
	
	@media only screen and (min-width:768px) and (max-width:991px) {
	
	.vcr_shape::before { content: none; }
	.vcr_shape-left::after { left:0;}
	
	}
	
	@media only screen and (max-width:767px) {
		
	.vcr_shape::before { content: none; }
	.vcr_shape-left::after { left:0;}
	
	}
		
	/*----*****---- << Detail Page >> --****--*/	
	
	.dt-sc-image-caption.type9 .dt-sc-image-title h3 {
		color: #fff;
		display: inline;
		padding: 10px 35px;
		background: #000;
	}
	
	.dt-sc-image-caption.type9 .dt-sc-image-title {
		position: absolute;
		bottom: 20px;
		text-align: center;
	}
	
	.dt-sc-image-caption.type3 .dt-sc-image-wrapper .icon-wrapper:after {
		border-radius: 50%;
		bottom: 20px;
		border: 2px solid #efefef;
	}
	
	.dt-sc-image-caption.type3 .dt-sc-image-wrapper .icon-wrapper img {
		top: -25px;
	}
	
	.dt-sc-image-caption.type3 {
		text-align: left;
	}
	
	.dt-sc-image-caption.type3 .dt-sc-image-content h3:after {
		position: absolute;
		content: "";
		width: 50px;
		height: 3px;
		background: #000;
		left: 0;
		bottom: -10px;
	}
	
	.dt-sc-image-caption.type3 .dt-sc-image-content {
		box-shadow: 0 0 10px #ccc;
		padding: 50px 30px 10px;
		margin-top: -50px;
		box-sizing: border-box;
		margin-bottom: 10px;
	}
	
	.dt-sc-icon-box.type8 { border: none; }
	
	/*----*****---- << Chemicals Page >> --****--*/


	.dt-sc-lite-color-bg { background:#f2f2f2; }
	
	h3 { line-height:30px; }
	
	button.ubtn-normal { padding: 15px 30px; color: #000; border:2px solid #ff9800 !important; border-radius:50px; font-family: "Open Sans",sans-serif; text-transform: capitalize; }
	
	button.ubtn-normal:hover { background: #ff9800; color:#fff; }
	
	.color-dkvilot { color:#2d1c53; font-weight:bold; }
	
	.color-dkgreen { color:#1997a3; font-weight:bold; }
	
	.color-dkbrown { color:#ab9a6e; font-weight:bold; }
	
	.color-dkpink { color:#9d4168; font-weight:bold; }
	
	.color-dkgray { color:#9d4168; font-weight:bold; }
	
	.color-dkgreen { color:#88a32e; font-weight:bold; }
	
	.color-dkbrown { color:#9a3d36; font-weight:bold; }
	
	/**************/
	
	.car-section1 .aio-icon { border: 1px solid #a7a7a7; border-radius: 50px; padding: 8px; }
	
	.car-section1 .uavc-list-icon li { line-height: 36px; }
	
	.car-section1 h3 { font-size:22px; }
	
	.car-section1 .slick-next, .car-section1 .slick-prev { width: 50px !important; height: 50px !important; top: 55%; transition:all 0.3s linear 0s;  }
	
	.slick-next:hover, .slick-prev:hover { transition:all 0.3s linear 0s; }
	
	.car-section1 .slick-next { right: -40px; }
	
	.car-section1 .slick-prev { left: -40px; }
	
	/**************/
	
	.car-section2 .uavc-list-icon-wrapper { border:1px solid #f3f3f3; background:#fff; transition:all 0.3s linear 0s;  }
	
	.car-section2 .uavc-list-icon-wrapper:hover { -webkit-box-shadow: 1px 24px 61px -18px rgba(0,0,0,0.37);
	-moz-box-shadow: 1px 24px 61px -18px rgba(0,0,0,0.37);
	box-shadow: 1px 24px 61px -18px rgba(0,0,0,0.37);  transition:all 0.3s linear 0s; }
	
	.car-section2 .uavc-list-content { border-bottom:1px solid #f3f3f3; }
	
	.car-section2 .uavc-list-content:hover { background:#ebedf3; }
	
	.car-section2 .uavc-list-icon-wrapper.uavc-list-content:last-child { border-bottom:0px solid #dadada; }
	
	.car-section2 .uavc-list-content { padding: 15px 20px; margin-bottom:0; }
	
	
	/**************/
	
	.car-section5 .quote { font-size: 8px; position: absolute; right: 0; top: 0; z-index: 10; }
	
	.car-section5 .test-single { background:rgba(51, 51, 51, 0.6) none repeat scroll 0 0; border-radius:20px 0; padding:20px; transition:all 0.3s linear 0s; }
	
	.car-section5 .test-single:hover {  background:rgba(51, 51, 51, 0.8) none repeat scroll 0 0; border-radius:0 20px; transition:all 0.3s linear 0s; }
	
	.car-section5 .vc_row { margin-right: 0; }
	
	.car-section5 .slick-next, .car-section5 .slick-prev { width: 40px !important; top:42%; height: 40px !important; border-radius:50px; background: rgba(255, 255, 255, 0.2); transition:all 0.3s linear 0s;  }
	
	.car-section5 .slick-next { right: -40px; }
	
	.car-section5 .slick-prev { left: -60px; }
	
	.car-section5 .vc_single_image-wrapper.vc_box_outline_circle.vc_box_border_grey { border: 2px solid #666; }
	
	.car-section5 .slick-next i, .car-section5 .slick-prev i { background: transparent; padding: 0; }
	
	/**************/
	
	.car-section6 ul.dt-sc-tabs-vertical { width:15%; }
	
	.car-section6 .dt-sc-tabs-vertical-content { width: 85%; }
	
	/**************/
	
	.car-section9 .ba-outside .slide-pre, .ba-outside .slide-nex { height: 35px; width: 35px; }
	
	.car-section9 .ba-outside .slide-pre { background-position: 3px -21px; }
	
	.car-section9 .ba-outside .slide-nex { background-position: -20px -20px; }
	
	.car-section9 .ba-outside .slide-pre, .ba-outside .slide-nex { border: 1px solid #666; cursor:pointer; }
	
	.car-section9 .ba-outside a.bx-next, .ba-outside a.bx-prev { padding: 20px; }
	
	
	@media only screen and (min-width:768px) and (max-width:1023px) {
	
	.car-section1 .vc_col-sm-6 { width:100%; }
	
	.car-section5 .slick-prev { left: -20px; }
	.car-section5 .slick-next { right: -5px;}
	
	.car-section9 .vc_col-sm-6 { width:100%; }
	
	.car-section1 button.ubtn-normal { margin-bottom: 30px; }
	
	.car-section9 .baslider-main { width: 100% !important; }
	
	.car-section9 .baslideli { width: 100% !important; }
	
	.car-section9 .ba-outside { width: 100% !important; }
	
	.car-section6 .type9 ul.dt-sc-tabs-horizontal-frame > li > a { padding: 10px 15px; }
	
	.car-section6 .dt-sc-pr-tb-col { margin-bottom: 0px; }
	
	.car-section6 ul.dt-sc-tabs-vertical { width:20%; }
	
	.car-section6 .dt-sc-tabs-vertical-content { padding: 10px; width: 80%; }
	
	}
	
	
	@media only screen and (max-width:767px) {
			
	.car-section6 ul.dt-sc-tabs-vertical { width:30%; }
	.car-section6 .dt-sc-tabs-vertical-content { width: 70%; }
	
	}
	
	
	@media only screen and (min-width:320px) and (max-width:767px) {
	
	.car-section5 .testi-txt { margin-top:30px; }
	 
	.car-section6 .type9 ul.dt-sc-tabs-horizontal-frame > li > a.current { background: #dfdfdf; }
	
	.car-section5 .slick-prev, .car-section5 .slick-next { display: none!important; }
	
	}
	
	@media only screen and (min-width:320px) and (max-width:480px) {
	
	.car-section6 ul.dt-sc-tabs-vertical { width: 100%; }
	.car-section6 .dt-sc-tabs-vertical-content { width: 100%; }
	.car-section6 .dt-sc-tabs-vertical-content { border: none; }	
		
	}
	
	@media only screen and (max-width:319px) {
	
	.car-section6 ul.dt-sc-tabs-vertical { width: 100%; }
	.car-section6 .dt-sc-tabs-vertical-content { width: 100%; }
	.car-section6 .dt-sc-tabs-vertical-content { border: none; }
	.car-section6 .dt-sc-pr-tb-col.type1.selected .dt-sc-tb-header::before { top: -25px; }	
		
	}	
	
	/*----*****---- << Gift cards Page >> --****--*/

	.car-section18 .vc_single_image-wrapper.vc_box_border_grey { position: relative; transition:all 0.3s linear 0s; }
	
	.car-section18 .vc_single_image-wrapper.vc_box_border_grey::after { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0; content: ""; height: 100%; position: absolute; top: 0; width: 100%; transition: all 0.3s linear 0s; opacity:0; 
	transition:all 0.3s linear 0s; }
	
	.car-section18 .wpb_single_image { overflow: hidden; transition:all 0.3s linear 0s; }
	
	.car-section18 .single .vc_single_image-wrapper.vc_box_border_grey img {  transition:all 0.3s linear 0s; }
	
	.car-section18 .single:hover .vc_single_image-wrapper.vc_box_border_grey img { transform: scale(1.05); transition:all 0.3s linear 0s; }
	
	.car-section18 .single:hover .vc_single_image-wrapper.vc_box_border_grey::after { opacity: 0.5; transition:all 0.3s linear 0s; }
	
	.car-section18 .display-box { background:#fcfcfc; padding:20px 30px 30px; }
	
	.car-section18 .display-box:hover { transition:all 0.3s linear 0s; -webkit-box-shadow: 1px 24px 61px -18px rgba(0,0,0,0.37);
	-moz-box-shadow: 1px 24px 61px -18px rgba(0,0,0,0.37);
	box-shadow: 1px 24px 61px -18px rgba(0,0,0,0.37); }
	
	.car-section18 .ubtn-data { margin-right: 20px; }
	
	.car-section18 .ubtn-sep-icon.ubtn-sep-icon-at-right .ubtn-icon { right: 7px; }
	
	.car-section18 .img-overlay::before { position:absolute; content:""; height:100%; width:100%; top:0; background:rgba(0,0,0,0, 0.8); transition:all 0.3s linear 0s; }
	
	/***************/  
	
	
	
	.car-section19a .single-main { padding:0 40px;  }
	
	.car-section19a .single { padding:30px 30px 15px; border: 2px solid; transition:all 0.3s linear 0s; }
	
	.car-section19a .single:hover { border-color:#fff; transition:all 0.3s linear 0s; -webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,1); -moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,1); border-radius: 20px 0; }
	
	
	/***************/
	
	.car-section20 .display-box { padding:10px 20px 30px 20px; }
	
	/***************/
	
	.car-section21 .uavc-list-icon li { overflow: visible; font-weight:600; font-size:18px; }
	
	.car-section21 .uavc-list-content { margin-bottom: 15px; }
	
	/***************/
	
	.car-section22 h3 { padding:7px 20px; background:#f5f5f5; color:#000000; font-weight:600; }
	
	/***************/
	
	@media only screen and (min-width:768px) and (max-width:1023px) {
	
	.car-section19 .vc_col-sm-4 { width:100%; }
	
	.car-section19a .single-main { padding: 0; }
	
	}
	
	@media only screen and (max-width:767px) {
	
	.car-section19a .single-main { margin-bottom: 80px; }
	
	.car-section19a.vc_custom_1493282026490 { padding-top: 30%!important; }
	
	}
	
	@media only screen and (max-width:319px) {
	
	.car-section19a .single-main { margin-bottom: 80px; padding: 0; }
	
	.car-section19a.vc_custom_1493282026490 { padding-top: 30%!important; }
	
	}


	/*----*****---- << About Page >> --****--*/
	
	.aio-icon { -webkit-transition:all 0.3s linear 0s; -moz-transition:all 0.3s linear 0s; -o-transition:all 0.3s linear 0s; -ms-transition:all 0.3s linear 0s; transition:all 0.3s linear 0s;}
	
	/***************/
	
	.section32 .stats-block .stats-text { color:#24abff; margin-top:5px; }
	
	.section32 .counter-box { padding:20px 0; background:#f8f8f8; }
	
	.section32 .display-img { margin-bottom:0;}
	
	/***************/
	
	.section33 .banner-txt { line-height:30px; color:#fff; }
	
	.section33 .aio-icon-header h3.aio-icon-title { font-size: 20px; }
	
	/***************/
	
	.section34 .stats-block .stats-number { font-weight:bold; line-height: 60px; }
	
	.section34 .stats-top .aio-icon { transform: rotateY(0deg); }
	.section34 .stats-top:hover .aio-icon { -webkit-transform: rotateY(360deg); -moz-transform: rotateY(360deg); -o-transform: rotateY(360deg); -ms-transform: rotateY(360deg); transform: rotateY(360deg); }
	
	/***************/
	
	.section35.vc_row[data-vc-full-width] { overflow: visible; }
	
	.section35 { height:444px; }
	
	.section35 .inner-box { border-radius:10px; }
	
	.section35 .dt-sc-testimonial.type3 .dt-sc-testimonial-author::before { border-top: 1px solid rgba(255, 255, 255, 0.1); }
	
	.section35 .dt-sc-testimonial.type3 .dt-sc-testimonial-author cite small { color: #dadada; }
	
	.section35 .dt-sc-testimonial.type3 blockquote q { color: #fff; }
	
	.section35 .slick-next, .section35 .slick-prev { width: 50px !important; height: 50px !important; top: 55%; transition:all 0.3s linear 0s;  }
	
	.section35 .slick-next { right: -40px; }
	
	.section35 .slick-prev { left: -40px; }
	
	.section35 .slick-next i, .section35 .slick-prev i { background: transparent; }
	
	.section35 .slick-prev, .section35 .slick-next { background: rgba(255,255,255,0.2);}
	
	.section35 .ult-item-wrap { line-height: 5px; }
	
	.section35 ul.slick-dots { padding: 30px 0; }
	
	/***************/
	
	.section36 .dt-sc-team .dt-sc-team-details { padding: 15px 10px; }
	
	.section36 .dt-sc-team.hide-social-show-on-hover .dt-sc-team-social { padding: 15px; }
	
	.section36 .dt-sc-team.hide-social-show-on-hover .dt-sc-team-social.square-border { top: -64px; }
	
	.section36 .dt-sc-team-details h4 { font-size:14px; margin-bottom:5px; }
	
	.section36 .dt-sc-team-details h5 { font-size:12px; }
	
	.section36 .dt-sc-team.details-on-image .dt-sc-team-details { background: rgba(0, 0, 0, 0.8) !important; }
	
	/***************/
	
	
	@media only screen and (min-width:1024px) and (max-width:1199px) {
	
	.section33 .vc_col-sm-6 { width:100%; }
	
	.section33 .icon-box-area .vc_col-sm-6 { width:50%; }
	
	.section36 .vc_col-sm-6 { width:100%; }
	
	.section36 .icon-box-area .vc_col-sm-6 { width:50%; }
	
	}
	
	/***************/
	
	
	@media only screen and (min-width:768px) and (max-width:1023px) {
	
	.section32 .display-img { margin-bottom:30px !important; border-bottom:1px solid #dadada; }
	
	.section32 .vc_col-sm-6 { width:100%; }
	
	.vc_row.section32 { margin-bottom: 50px; }
	
	.section33 .vc_col-sm-6 { width:100%; }
	
	.section33 .icon-box-area .vc_col-sm-6 { width:50%; }
	
	.section33 .single-icon { padding-left:30px; }
	
	.section35 .dt-sc-testimonial.type3 blockquote q { font-size: 12px; padding:0 7%; }
	
	.section35 .slick-next { right: -15px; }
	
	.section35 .slick-prev { left: -15px; }
	
	.section36 .vc_col-sm-6 { width:100%; }
	
	.section36 .icon-box-area .vc_col-sm-6 { width:50%; }
	
	.section36 .vc_col-sm-3 { width:50%; margin-bottom: 30px; }
	
	}
	
	/***************/
	
	
	@media only screen and (min-width:320px) and (max-width:767px) {
		
	h2 { font-size: 26px; }
	
	.section32 .display-img { margin-bottom:30px; border-bottom:1px solid #dadada; }
	
	.section35 .dt-sc-testimonial.type3 blockquote q { font-size: 12px; padding:0 7%; }
	
	.section35 .slick-next, .section35 .slick-prev { display: none !important; }
	
	.section33 .single-icon { padding-left:0px; }
	
	}


	/*----*****---- << Service Page >> --****--*/
		
	.section1 .display-logo-main { position:relative; }
	
	.section1 .display-logo { position:absolute; left:27%; top:24%; z-index:100; }

	
	/************************/
	
	.section54 .icon-box-line { position:absolute; left:0; top:22%; z-index: -1;  }
	
	.section54 .vc_row .aio-icon { border-color: #f6f6f6; color: #f6f6f6; }
	
	.section54 .vc_row .aio-icon-box:hover .aio-icon { border-color: #da0000; color: #da0000; }
	
	.aio-icon-component .aio-icon, .aio-icon-component .img-icon { transition:all 0.3s linear 0s !important; }
	
	/************************/
	
	.section22 .ult-carousel-wrapper button.circle-bg, .ult-carousel-wrapper button.circle-border { width: 50px; height: 50px; line-height: 50px; }
	
	.section22 .ult-carousel-wrapper.ult_vertical button.slick-next { bottom: -100px; }
	
	.section22 .ult-carousel-wrapper.ult_vertical button.slick-prev { top: -100px; }
	
	.section22 .slick-next i, .section22 .slick-prev i { background: transparent; color: inherit; }
	
	/************************/
	
	@media only screen and (min-width:1024px) and (max-width:1199px) {
	
	.section1 .display-logo { left: 21%; }
	
	}
	
	/************************/
	
	@media only screen and (min-width:1024px) and (max-width:1199px) {
	
	.section54 .icon-box-line { top: 26%; }
	
	}
	
	/******************/   
	
	
	@media only screen and (min-width:768px) and (max-width:1023px) {
	
	.section1 .display-logo { display:none; }
	
	.section54 .icon-box-line { top: 32%; }
	
	.section22 .ult-carousel-wrapper.ult_vertical button.slick-prev { top: -50px; }
	.section22 .ult-carousel-wrapper.ult_vertical button.slick-next { bottom: -50px; }
	
	}
	
	@media only screen and (max-width:767px) {
		
	.section54 .icon-box-line { display: none; }
	
	}
	
	/************************/
	
	
	
	@media only screen and (min-width:320px) and (max-width:767px) {
	
	.section1 .display-logo { position:static; }
	
	.section22 .ult-carousel-wrapper.ult_vertical button.slick-next { bottom: -60px; }
	
	.section22 .ult-carousel-wrapper.ult_vertical button.slick-prev { top: -60px; }
	
	}	

	/*----*****---- << Text with icon >> --****--*/ /* http://prntscr.com/dydrax = Fitness Home Page */
	.dt-sc-text-with-icon { width:100%; clear:both; float:left; font-weight:bold; padding:12px 0px 12px 20px; }
	.dt-sc-text-with-icon span { font-size:18px; margin:0px 7px 0px 0px; position:relative; top:2px; font-weight:bold; }
	
	.dt-sc-text-with-icon.border-bottom { border-bottom:1px solid; }
	.dt-sc-text-with-icon.border-right { border-right:1px solid; }

	.dt-sc-dark-bg .dt-sc-text-with-icon span { color:#ffffff; }
	
		
	/*----*****---- << Hosting Domain Page Table >> --****--*/ /* http://prntscr.com/dydxr3 = Hosting Domain Page */
	.hosting-table { border-top:0px; font-family:'Raleway',sans-serif; }
	.hosting-table th { background:#e1e1e1; border-radius:5px 5px 0px 0px; color:#000000; font-weight:600; font-size:16px; border-right:1px solid #ffffff; padding:20px 15px; }
	.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { background:rgba(0, 0, 0, 0.95); border-right:1px solid rgba(255, 255, 255, 0.2); border-bottom:0px; font-size:16px; font-weight:600; padding:25px 15px; }
	.hosting-table tbody tr td:last-child, .hosting-table tr th:last-child { border:none; }
	
	.hosting-table tbody tr:nth-child(2) td { background:rgba(0, 0, 0, 0.9); }
	.hosting-table tbody tr:nth-child(3) td { background:rgba(0, 0, 0, 0.85); }
	.hosting-table tbody tr:nth-child(4) td { background:rgba(0, 0, 0, 0.8); }
	.hosting-table tbody tr:nth-child(5) td { background:rgba(0, 0, 0, 0.75); }
	.hosting-table tbody tr:nth-child(6) td { background:rgba(0, 0, 0, 0.7); }
	.hosting-table tbody tr:nth-child(7) td { background:rgba(0, 0, 0, 0.65); }
	.hosting-table tbody tr:nth-child(8) td { background:rgba(0, 0, 0, 0.6); }
	.hosting-table tbody tr:nth-child(9) td { background:rgba(0, 0, 0, 0.55); }
	.hosting-table tbody tr:nth-child(10) td { background:rgba(0, 0, 0, 0.5); }
	.hosting-table tbody tr:nth-child(11) td { background:rgba(0, 0, 0, 0.45); }
	.hosting-table tbody tr:nth-child(12) td { background:rgba(0, 0, 0, 0.4); }
	
	.hosting-table tbody tr td:first-child { position:relative; }
	.hosting-table tbody tr td:first-child:before { content:""; position:absolute; left:0px; top:0px; width:100%; height:100%; background:#60ae0d; z-index:-1; }
	
	.hosting-table tbody tr td.new, .hosting-table tbody tr td.hot { position:relative; overflow:hidden; }
	.hosting-table tbody tr td.new:before, .hosting-table tbody tr td.hot:before { content:"New"; position:absolute; left:-20px; top:5px; padding:2px 22px; background:#60ae0d; color:#ffffff; font-size:12px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg);  transform:rotate(-45deg); }
	.hosting-table tbody tr td.hot:before { content:"Hot"; background:#e80505; padding:2px 24px; }
	


	/*----*****---- << Spa rounded corner image >> --****--*/ /* http://prntscr.com/dydylt = Spa */
	.dt-sc-partially-rounded-alt { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.vc_min_height_right.wpb_column.vc_col-sm-6 { margin-left: 30px; width: calc(50% - 30px); } /* http://prntscr.com/e0ka7y *
	

	/*----*****---- << Image Caption With Counter >> --****--*/	 /* http://prntscr.com/dydzek = Image caption counter */
	.dt-sc-image-caption-with-counter { counter-reset:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3 { counter-increment:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3:before { content:counter(image-caption-counter, decimal-leading-zero); font-size:36px; font-weight:600; border-bottom:2px solid; float:left; margin:-10px 20px 0px 0px; padding:0px; }
	.dt-sc-image-caption-with-counter h3:before { font-family:'Open Sans', sans-serif; }
	
	
	.dt-sc-contact-details-on-map .dt-sc-map-overlay h3, .dt-sc-contact-details-on-map .map-switch-icon, .dt-sc-contact-details-on-map .map-switch-icon:hover { color:#ffffff; }	
	.dt-sc-contact-details-on-map .map-switch-icon:hover { background:#000000; } /* http://prntscr.com/dydzs2 = Restaurant */
	
	
	/*----*****---- << Photography Readmore Plus >> ----*****----*/ /* http://prntscr.com/dydzxp = Photography */
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; } 
	
	
	.dt-sc-readmore-plus-icon { position:absolute; right:0px; bottom:0px; width:60px; height:60px; text-indent:-9999px; }
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { content:""; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto; }
	.dt-sc-readmore-plus-icon:before { height:1px; width:30px; }
	.dt-sc-readmore-plus-icon:after { height:30px; width:1px; }	
	
	
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { background:#ffffff; }	
	.dt-sc-readmore-plus-icon { background:#000000; }	
	.dt-sc-readmore-plus-icon:hover { background:rgba(0, 0, 0, 0.8); }
	
	
	
	/*----*****---- << Nightclub Home page Social icons >> ----*****----*/
	.diamond-narrow-square-border li:before { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.diamond-narrow-square-border li a { color:#000000; }	
	.diamond-narrow-square-border li a:hover { color:#ffffff; }
	
	/*----*****---- << Estimator >> ----*****----*/
	
	.ipt-uif-custom-material-default input:not([type]).valid, .ipt-uif-custom-material-default input:not([type]):focus.valid, .ipt-uif-custom-material-default input[type=text].valid, .ipt-uif-custom-material-default input[type=text]:focus.valid, .ipt-uif-custom-material-default input[type=password].valid, .ipt-uif-custom-material-default input[type=password]:focus.valid, .ipt-uif-custom-material-default input[type=email].valid, .ipt-uif-custom-material-default input[type=email]:focus.valid, .ipt-uif-custom-material-default input[type=url].valid, .ipt-uif-custom-material-default input[type=url]:focus.valid, .ipt-uif-custom-material-default input[type=time].valid, .ipt-uif-custom-material-default input[type=time]:focus.valid, .ipt-uif-custom-material-default input[type=date].valid, .ipt-uif-custom-material-default input[type=date]:focus.valid, .ipt-uif-custom-material-default input[type=datetime].valid, .ipt-uif-custom-material-default input[type=datetime]:focus.valid, .ipt-uif-custom-material-default input[type=datetime-local].valid, .ipt-uif-custom-material-default input[type=datetime-local]:focus.valid, .ipt-uif-custom-material-default input[type=tel].valid, .ipt-uif-custom-material-default input[type=tel]:focus.valid, .ipt-uif-custom-material-default input[type=number].valid, .ipt-uif-custom-material-default input[type=number]:focus.valid, .ipt-uif-custom-material-default input[type=search].valid, .ipt-uif-custom-material-default input[type=search]:focus.valid, .ipt-uif-custom-material-default textarea.materialize-textarea.valid, .ipt-uif-custom-material-default textarea.materialize-textarea:focus.valid, .ipt-uif-custom-material-default input:not([type]):focus:not([disabled]), .ipt-uif-custom-material-default input[type=text]:focus:not([disabled]), .ipt-uif-custom-material-default input[type=password]:focus:not([disabled]), .ipt-uif-custom-material-default input[type=email]:focus:not([disabled]), .ipt-uif-custom-material-default input[type=url]:focus:not([disabled]), .ipt-uif-custom-material-default input[type=time]:focus:not([disabled]), .ipt-uif-custom-material-default input[type=date]:focus:not([disabled]), .ipt-uif-custom-material-default input[type=datetime]:focus:not([disabled]), .ipt-uif-custom-material-default input[type=datetime-local]:focus:not([disabled]), .ipt-uif-custom-material-default input[type=tel]:focus:not([disabled]), .ipt-uif-custom-material-default input[type=number]:focus:not([disabled]), .ipt-uif-custom-material-default input[type=search]:focus:not([disabled]), .ipt-uif-custom-material-default textarea.materialize-textarea:focus:not([disabled]) { border-bottom: 1px solid #000 !important; box-shadow: 0 1px 0 0 #000 !important; }
	
	
	/*--------------------------------------------------------------
	2.0 - Browser Fix
	--------------------------------------------------------------*/
	/* IE9 and above override */	
	@media screen and (min-width:0\0) { 
			
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 71px 0 0; }
		
	}
	
	/* IE9 only override */	
	.ie9 .dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }
	
	
	
	/*--------------------------------------------------------------
	3.0 - DT Responsive
	--------------------------------------------------------------*/
	/* Note: Design for a width of 960px */	
    @media only screen and (min-width:992px) and (max-width:1199px) {
		
		/*----*****---- << Hosting >> ----*****----*/
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:10px; }
		
		/*----*****---- << Restaurant >> ----*****----*/
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }
		
		/*----*****---- << Miscellaneous >> ----*****----*/
		.dt-sc-text-with-icon { font-size: 13px; }
	
	}
	
	
	 /* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:991px) {
		
		.dt-sc-text-with-icon { font-size: 11px; }
		
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 { padding-left: 5px; padding-right: 5px; }
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 { font-size: 13px; padding-left: 10px; padding-right: 10px; }
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 h6 { font-size: 15px; }
	
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 76px 0 0; }	
		
		.rs_line_height p { line-height:normal !important; }
		
		
		/*----*****---- << Event >> ----*****----*/
		.dt-sc-content-with-hexagon-shape { margin-left:16%; }
		.event-colored-box { margin-top:0; }
		.event-contact-info { margin-left:25%; }
		
		/*----*****---- << Architecture >> ----*****----*/
		.architecture-process.rs_padding_override { padding-left:20px !important; padding-right:20px !important; }
		.column.wpb_column.dt-sc-one-fifth.vc_col-md-4 { width:32%; margin-bottom:20px; min-height:290px; }
		.column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(4), .column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(10) { margin-left:0; }
		
		/*----*****---- << Services >> ----*****----*/
		
		.vc_row.section23 { margin-top: 30px; }
		
	}
	
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {
	
		.fitness-form-container.extend-bg-fullwidth-right::after { background-color:transparent; }
		.fitness-form-container.extend-bg-fullwidth-right .vc_column-inner { padding-left:30px !important; padding-right:30px !important; }
		.fitness-contact-boxes .wpb_text_column, .fitness-contact-boxes .wpb_text_column:nth-child(2), .fitness-contact-boxes .wpb_text_column:last-child, .fitness-contact-boxes .wpb_text_column:nth-child(3) { width:100%; padding:10px 0px; }
		
		.hotel_blockquote-type4 blockquote.type4 { margin-top:0; }
		
		.event-colored-box { margin-top:0; }
		.event-contact-info.wpb_column { width: 320px; padding: 85px 30px 30px; float: none; }
		
		/*----*****---- << Hosting >> ----*****----*/
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:100px; }
		.rs_client_testimonial-center .dt-sc-image-flip a { position:relative; display:block; }
		.rs_client_testimonial-center .dt-sc-image-flip { text-align:center; }
		
		.hosting-table th { font-size:13px; padding:13px 10px; text-transform: capitalize; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:13px; padding:21px 10px; }
		.hosting-contact-info-container:before { content:none; }
		
		.extend-bg-fullwidth-left::after { content:none; }
		
		
		/*----*****---- << Custom Class >> ----*****----*/
		.rs_col_no_btm_space .wpb_column, .rs_col_no_btm_space.wpb_column, 
		.rs_negative-margin_override.vc_row { margin-left:0 !important; }
					
		.rs_padding_override_zero.vc_row,
		.rs_padding_override_zero.wpb_column .vc_column-inner { padding-left: 0 !important; padding-right: 0 !important; }
		
	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/
    /* Note: Design for a width of 480px */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
 
 		/*----*****---- << Custom Class >> ----*****----*/
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 50px !important; padding-right: 50px !important; }
		
	
	}
	
	/* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) {
		
		/*----*****---- << Event location page >> ----*****----*/
		.event-contact-info.wpb_column { width:100%; margin:20px 0px 0px 0px; }
		.event-contact-info:before { left:0px; width:100%; background-size:100%; }
		.event-contact-info .dt-sc-sociable li { margin-bottom:20px; }
	
		/*----*****---- << Custom Class >> ----*****----*/
		.rs_padding_left-override.vc_row .vc_column-inner, .rs_padding_left-override.wpb_column .vc_column-inner { padding-left:15px !important; }
		
		/*----*****---- << Attorney >> ----*****----*/
		.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame, .dt-sc-tabs-vertical-frame-container.rs_align_middle .dt-sc-tabs-vertical-frame-content { margin:0; }
		.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame > li > a.current, .dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame > li > a { border-right:1px solid rgba(0, 0, 0, 0.1); }
			
	}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 320px) and (max-width: 479px) {
		
		/*----*****---- << Hosting >> ----*****----*/
		.hosting-table th { text-transform:capitalize; font-size:12px; padding:13px 6px; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:12px; padding:22px 8px; }
		
		/*----*****---- << Miscellaneous >> ----*****----*/
		.rs_fontsize_small { font-size: 40px !important; }		
						
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 30px !important; padding-right: 30px !important; }
		
		/*----*****---- << Business >> ----*****----*/	
		.business-contact-social li { margin: 0 15px; }	
		
	}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
		
		/*----*****---- << Event location page >> ----*****----*/
		.event-contact-info.wpb_column { padding-left:20px; padding-right:20px; }
		.event-contact-info .dt-sc-contact-info span { width:100%; text-align:center; float:none; margin:0; }
		
		/*----*****---- << Hosting contact Page >> ----*****----*/	
		.hosting-contact-info-container:before { left:0; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:0px; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0px; }
		.hosting-contact-info-container:before { width:100%; }
		
		/*----*****---- << Hosting Domain Page >> ----*****----*/		
		.hosting-table th { font-size:10px; padding:13px 0; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:10px; padding:21px 7px; }

		/*----*****---- << Common >> ----*****----*/
		.rs_fontsize_small { font-size: 32px !important; }
		
		/* http://prntscr.com/dydp42, http://prntscr.com/dydpkf */
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 20px !important; padding-right: 20px !important; }
	
		/*----*****---- << Fitness >> ----*****----*/
		.dt-sc-text-with-icon { font-size: 10px; padding-left: 15px; }
		.dt-sc-text-with-icon span { font-size: 15px; margin-right: 5px; }	
		
		/*----*****---- << About Us >> ----*****----*/
		
		.section35 .slick-next, .section35 .slick-prev { display: none !important; }
		
	}